body {
    background-color: #eaeaeb;
    padding-bottom: 3em;
    height: auto;
    width: auto;
}
section{
    display: flex;
}
#body-container{
    width:auto;
    padding-top: 3em;
    margin:auto;
    text-align: center;
    display: inline-block;
}
.header{
    width:25em;
    text-align: center;
}
#header-content{
    text-align: center;
    margin:auto;
    width: fit-content;
}
h1{
    color: #2B4162;
    font-size: 3.7rem;
    font-family: 'Pacifico', serif;
    padding-top: 0;
    padding-bottom: .1em;
    margin-top: 0;
    margin-bottom: 0;
    line-height: 3.0rem;
    width: 6em;
}
h3{
    line-height: 1em;
    width: 17em;
}
.based{
    display: inline-block;
    width:20em;
    margin-bottom: 0;
    line-height: 2.0rem;
}
.content-container{
    text-align: center;
    margin: auto;
    padding-top: 1em;
}
.content-div{
    margin: auto;
    text-align: left;
    display: inline-block;
    padding-left:5%;
    padding-right:5%;
    border-radius:5px;
    border-style:groove;
    border-color: #2B4162;
    background-color: #d5d5d7;
}
dl{
    font-family: 'Georgia', serif;
    color: #04251B;
}
dd{
    font-size: 1em;
    width:20em;
}
dt{
    color:#2B4162;
    width: 19em;
}
#logos{
    width: 4em;
}
h2{
    color:#084936;
    line-height: .2em;
    text-align: left;
}
.footer{
    padding-top:1em;
    width: auto;
    margin:auto;
    height: auto;
}
.footer-links{
    width: 100%;
}
.personal-links{
    position: relative;
    margin:auto;
    display: inline-block;
    padding-left:15%;
    width: 2em;
}
.gitlogo{
    top:.5em;
}
.LI-Logo{
    top:.2em;
}
a:link{
    text-decoration: none;
}
dl a:visited{
    color:#2B4162;
}
.email-link{
    width:2em;
    top:.5em;
}
.email-icon{
    top:.5em;
}